<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<style>
	.jumbotron {
		width: 600px;
		text-align: center;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	.form-control{
		margin-top: 5px;
	}
	.selecionado {
		background-color: yellow;
	}
	.table{
		margin-top: 20px;
	}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script>
		angular.module("listaTelefonica", ["ngMessages"])
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
			$scope.app = "Lista Telefonica";
			//$scope.contatos = [];
			$scope.contatos = [
				{nome: "Pedro", telefone: "99998888", data: new Date(), cor: "blue", operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}},
				{nome: "Ana", telefone: "99998877", data: new Date(), cor: "yellow", operadora: {nome: "Vivo" , codigo: 15, categoria: "Celular"}},
				{nome: "Maria", telefone: "99998866", data: new Date(), cor: "red", 	operadora: {nome: "Tim", codigo: 41, categoria: "Celular"}}
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14, categoria: "Celular" , preco: 2},
				{nome: "Tim", codigo: 41, categoria: "Celular", preco: 3},
				{nome: "Vivo", codigo: 15, categoria: "Celular", preco: 4},
				{nome: "Claro", codigo: 31, categoria: "Celular", preco: 5},
				{nome: "GVT", codigo: 25, categoria: "Fixo", preco: 6},
				{nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 7}	
			];

			/*var carregarContatos = function(){
				$http.get("C:\Users\Michel Souza\OneDrive\Curso AngularJS\Exercicios Angular\Lista Telefonica - http\lib\contatos.txt");
			}*/

			$scope.adicionarContato = function(contato){
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
			};
			$scope.apagarContatos = function(contatos){
				$scope.contatos = contatos.filter(function(contato){
					if(!contato.selecionado) return contato;
				});
			};
			$scope.isContatoSelecionado = function(contatos){
				return contatos.some(function(contato){
					return contato.selecionado;
				});
			};
			$scope.ordernarPor = function(campo){
				$scope.criterioDeOrdenacao = campo;
				$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
			};
			//carregarContatos();
		});
			
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
		<table ng-show="contatos.length > 0"class="table table-striped">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
				<th><!--<a href="" ng-click="ordernarPro('operadores')"></a>-->Operadora</th>
				<th><!--<a href="" ng-click="ordernarPro('data')"></a>-->Data</th>
				<th></th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao"><!--{nome: criterioDeBusca}--> <!--| limitTo:2-->
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td><!--| uppercase-->
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date:'MMMM EEEE dd/MM/yyyy hh:mm'}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
		<hr/>
		<!--É válido: {{contatoForm.$valid}}<br/>
		É inválido: {{contatoForm.$invalid}}<br/> -->
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern=" /^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>

		<div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error" >

			<div ng-message="required" class ="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class ="alert alert-danger">
				O campo nome deve ter no minimo 10 caracteres.
			</div>
		</div>
		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class ="alert alert-danger">
			Por favor, preencha o campo telefone!
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class ="alert alert-danger">
			O campo telefone deve ter o fomrato DDDDD-DDDD.
		</div>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>